[submodule "output"]
	path = output
	url = git@github.com:JhonnyJason/sentinel-set-password-output.git
[submodule "sources"]
	path = sources
	url = git@github.com:JhonnyJason/sentinel-set-password-sources.git
[submodule "toolset"]
	path = toolset
	url = git@github.com:JhonnyJason/toolset.git
